@CHARSET "UTF-8";

BODY { 
	font-size: 14pt;
	background: white;
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	padding: 0;
}

/*
H1 {
	font-size: 150%;
}

H2 {
	font-size: 120%;
}*/


DIV.mlQuestionText {
	margin-top: 10px; padding: 5px; background-color: #aaffaa;
	padding-left: 45px; padding-top: 1px;
	background-image: url('qm.svg'); background-repeat: no-repeat;
    background-position: 3px 10px;
}

DIV.mlExample {
	background-color: #ffffaa;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

DIV.mlExampleQ {
	padding-bottom: 10px;
}

DIV.mlExampleA {
	border-top: 1px dashed black;
	padding-top: 10px;
}

SPAN.mlExampleKey {
	font-weight: bold;
	font-size: 1.2em;
}

SPAN.mlExampleText {
	
}

DIV.mlTableCaption {
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 10px;
	margin-top: 10px;
}
SPAN.mlTblKey {
	font-weight: bold;
}

TABLE.mlTableCC {
	border-spacing: 0;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 15px;
}

TABLE.mlTableCC TH {
	border-bottom: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

TABLE.mlTableCC TD {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	background-color: #ffffff;
}

TABLE.mlTableCCC TH {
	text-align: center;
}

TABLE.mlTableCC2 TD {
	border-bottom: 1px dotted #777777;
}

TABLE.mlTableCC2 TR:LAST-CHILD TD {
	border-bottom: 0px;
}

TABLE.mlTableCC CODE {
	background-color: #ffffff;
}

TABLE.mlTableVR2 TR TH:LAST-CHILD {
	border-left: 1px solid black;
}

TABLE.mlTableVR2 TR TD:LAST-CHILD {
	border-left: 1px solid black;
}

TABLE.mlTableVRl1 TR TH:NTH-LAST-CHILD(1) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl1 TR TD:NTH-LAST-CHILD(1) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl2 TR TH:NTH-LAST-CHILD(2) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl2 TR TD:NTH-LAST-CHILD(2) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl3 TR TH:NTH-LAST-CHILD(3) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl3 TR TD:NTH-LAST-CHILD(3) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl4 TR TH:NTH-LAST-CHILD(4) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl4 TR TD:NTH-LAST-CHILD(4) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl5 TR TH:NTH-LAST-CHILD(5) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl5 TR TD:NTH-LAST-CHILD(5) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl6 TR TH:NTH-LAST-CHILD(6) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl6 TR TD:NTH-LAST-CHILD(6) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl7 TR TH:NTH-LAST-CHILD(7) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl7 TR TD:NTH-LAST-CHILD(7) {
	border-left: 1px solid black;
}

TABLE.mlTableVRl1d TR TH:NTH-LAST-CHILD(1) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRl1d TR TD:NTH-LAST-CHILD(1) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRl2d TR TH:NTH-LAST-CHILD(2) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRl2d TR TD:NTH-LAST-CHILD(2) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRl3d TR TH:NTH-LAST-CHILD(3) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRl3d TR TD:NTH-LAST-CHILD(3) {
	border-left: 1px dotted black;
}

TABLE.mlTableVRf1d TR TH:NTH-CHILD(1) {
	border-right: 1px dotted black;
}

TABLE.mlTableVRf1d TR TD:NTH-CHILD(1) {
	border-right: 1px dotted black;
}

TABLE.mlTableVRf2d TR TH:NTH-CHILD(2) {
	border-right: 1px dotted black;
}

TABLE.mlTableVRf2d TR TD:NTH-CHILD(2) {
	border-right: 1px dotted black;
}

TABLE TR.mlMarkedRow {
	background-color: #FFFFAA;
}

SPAN.filename {
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: bold;
}

PRE SAMP.program-output {
	display: block;
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: normal;
	background-color: #DDDDFF; padding: 5px; padding-left: 10px; border-left: 4px solid blue;
}

PRE SAMP.command-line {
	display: block;
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: normal;
	background-color: #DDFFDD; padding: 5px; padding-left: 10px; border-left: 4px solid green;
}

SPAN.language-english:before { 
	content: "(engl. "; 
}

SPAN.language-english SPAN {
	font-style: italic; 
}

SPAN.language-english:after { 
	content: ")"; 
}

SPAN.lang-constant {
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: normal;
}

SPAN.lang-type {
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: bold;
}

SPAN.command {
	font-family: monospace; font-size: 0.9em;
}

LI DIV.li-definition {
	font-style: normal; font-size: 1em; font-weight: bold;
}

LI SPAN.li-inline-definition {
	font-style: normal; font-size: 1em; font-weight: bold;
}

SPAN.li-inline-definition {
	font-style: normal; font-size: 1em; font-weight: bold;
}

VAR {
	font-family: monospace; font-style: normal; font-size: 0.9em; font-weight: bold;
}

DIV.mlNote {
	margin-top: 10px; margin-left: 30px; margin-right: 30px; margin-bottom: 10px; padding: 5px; background-color: #ddddff;
	padding-left: 45px; padding-top: 1px;
	background-image: url('clip.svg'); background-repeat: no-repeat;
	background-position: 3px 5px;
	box-shadow: 10px 10px 5px #888888;
}

DIV.mlImportant {
	margin-top: 10px; margin-left: 30px; margin-right: 30px; margin-bottom: 10px; padding: 5px; background-color: #ffdddd;
	padding-left: 45px; padding-top: 1px;
	background-image: url('clip.svg'); background-repeat: no-repeat;
	background-position: 3px 5px;
	box-shadow: 10px 10px 5px #888888;
}

FIGURE.mlFigure {
	text-align: center;
}

FIGURE.mlFigure IMG {
	margin-bottom: 10px;
}

FIGURE.mlFigure FIGCAPTION {
	font-size: 0.8em;
}

FIGCAPTION SPAN.mlFigKey {
	font-weight: bold;
}

OL.mlSpread LI {
  padding-bottom: 10px;
}

UL.mlSpread LI {
  padding-bottom: 10px;
}

SPAN.mlUnderline {
	text-decoration: underline;
}

SPAN.mlBold {
	font-weight: bold;
}

SPAN.mlSimAuthor {
	font-size: 0.8em;
}

SPAN.mlEmph {
	font-style: italic;
}
