<div id="${{{qid}}}_T">
 What is the sum of <span id="${{{qid}}}_T_a">a</span> and <span id="${{{qid}}}_T_b">b</span>?
</div>
<div>
 Result: <input type="text" size="10" id="${{{qid}}}_Q"><br>
</div>

